<h1 class="roadmap">Roteiro</h1>

<table width="100%" class="tabela_info" cellspacing="5">
	<tr>
		<td align="center" colspan="2">
			<strong>Ponto de partida</strong>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<%= render :partial => "tourist_sights/location" %>		
		</td>
	</tr>
	<% if @roadmap.user.id != current_user.id %>
		<tr>
			<td align="right">
				<strong>Criado por:</strong>		
			</td>
			<td><%= @roadmap.user.login %></td>
		</td>
	<% end %>
	<tr>
		<td align="right">
			<strong title="Outras pessoas podem visualizar meu roteiro">Público?</strong>
		</td>
		<td>
			<% if @roadmap.public %>
				Sim
			<% else %>
				Não
			<% end %>
		</td>
	</tr>
	<tr>
		<td align="right">
			<strong>Criado em:</strong>
		</td>
		<td><%= date_format(@roadmap.created_at) %></td>
	</tr>
	<tr>
		<td align="right" width="12%">
			<strong>Atualizado em:</strong>
		</td>
		<td><%= date_format(@roadmap.updated_at) %></td>
	</tr>
	<tr>
		<td align="right">
			<strong>Título:</strong>
		</td>
		<td><%=h @roadmap.title %></td>
	</tr>
	<tr>
		<td align="right" valign="top">
			<strong>Descrição:</strong>
		</td>
		<td style="text-align: justify;">
			<% if (not @roadmap.description) or @roadmap.description.length == 0 %>
		    <i>Não informado</i>
		  <% else %>
  		  <%=h @roadmap.description %>
  		<% end %>
		</td>
	</tr>
</table>

<% if logged_in? %>
	<div align="right">
		<%= link_to 'Editar', edit_roadmap_path(@roadmap) %> | 
		<%= link_to 'Apagar', @roadmap, :confirm => 'Você tem certeza?', :method => :delete %>
	</div>
<% end %>

<br/>

<h2 class="destination_32">Destinos</h1>
<br/>

<div class="box">
	<div class="search_results">
	  <% if @roadmap.destinations and @roadmap.destinations.length > 0 %>
			<%= render :partial => "destinations_list" %>
		<% else %>
		  <center>
		    <em>Nenhum destino encontrado.<em>
		  </center>
		<% end %>
	</div>
	<% if logged_in? %>
	  <center>
			<%= link_to 'Novo destino', new_roadmap_destination_path(@roadmap), :class => "botao_new_destination" %>
		</center>
  <% end %>
	<br/>
</div>

<br/>
<br/>

<%= link_to 'Voltar', roadmaps_path %>



















