<h1 class="roadmap">Roteiro</h1>

<%= render :partial => "info" %>

<% if logged_in? and owner?(@roadmap) %>
	<div align="right">
		<%= link_to 'Editar', edit_roadmap_path(@roadmap) %> | 
		<%= link_to 'Apagar', @roadmap, :confirm => 'Você tem certeza?', :method => :delete %>
	</div>
<% end %>

<br/>

<%= render :partial => "destinations_list" %>

<br/>

<div class="box" style="padding: 10px;">
  <table width="100%">
		<tr>
			<td align="left">
				<strong>Total de dias:</strong> <%= @roadmap.total_of_days %>
			</td>
		</tr>
    <tr>
      <td align="left">
        <strong>Custo Total Planejado:</strong> <%= currency(@roadmap.total_planned_cost) %>
      </td>

      <td align="left">
        <strong>Custo Total Executado:</strong> <%= currency(@roadmap.total_actual_cost) %>
      </td>
      
      <td align="left">
        <strong>Saldo:</strong>
        <% if @roadmap.balance < 0 %>
					<span class="negative">
				<% else %>
					<span class="positive">
				<% end %>
  			<%= currency(@roadmap.balance) %>
				</span>
        <%= "(#{currency @roadmap.total_planned_cost} - #{currency @roadmap.total_actual_cost})" %>
      </td>
    </tr>
  </table>
</div>

<br/>
<br/>

<% if logged_in? and owner?(@roadmap) %>
	<%= link_to 'Voltar', roadmaps_path %>
<% end %>



















