<%= mask_fields({:destination_start_date => "99/99/9999", :destination_end_date => "99/99/9999"}) %>
<%= price_format(['destination_planned_cost']) %>

<table class="form" width="62%">
	<tr>
		<td width="50%">
			<% if @destination and @destination.city %>
				<%= select :state, :id, @states.map{|state| [state.name, state.id] }, #select com os estados disponiveis
								   {:include_blank => '-- escolha o estado --', :selected => @destination.city.state.id} %>	
			<% else %>
				<%= select :state, :id, @states.map{|state| [state.name, state.id] }, #select com os estados disponiveis
								   :include_blank => '-- escolha o estado --' %>
			<% end %>
		</td>

		<% form_for([@destination.roadmap, @destination]) do |f| %>
      <%= f.error_messages %>
		  <td>
				
			  <%= observe_field :state_id, # ID do campo observado
												  # URL que sera chamada
		   		                :url => {:controller => "cities", :action => "index", :format => "html"}, 
												  :method => :get,
				                  :frequency => 0.5, # De quanto em quanto tempo o campo sera observado
				        	        :update => :destination_city_id, # ID do campo que sera atualizado
				           		    :with => 'state_id', # valor que sera passado para url
												  :before => "$('#load').show()", # O que fara antes de chamar a URL
												  :complete => "$('#load').hide()" # O que fara depois de chamar a URL
												  %>

			  <% if @cities 
				  # se as cidades ja estiverem populadas exibe o select com elas. Para caso de edicao.
			  %>
				  <%= f.select :city_id, @cities.map{|city| [city.name, city.id] }, :include_blank => true, :size => 20 %>
			  <% else %>
				  <%= f.select :city_id, [], :include_blank => true, :size => 20 %>
			  <% end %>
			  <%= image_tag 'load_mini.gif', :id => 'load', :style => "display: none;" %>

		  </td>
	  </tr>
	  <tr>
    <tr>
      <td>
        <%= f.label 'Período:' %>
      </td>
      <td>
        <%= f.label :planned_cost, 'Custo Planejado:', :value => @destination.planned_cost.to_f %>
      </td>
    </tr>
    <tr>
      <td>
         <%= f.text_field :start_date, :value => date_format(@destination.start_date), :size => 10 %>
         &ensp;a&ensp;
         <%= f.text_field :end_date, :value => date_format(@destination.end_date), :size => 10 %>
      </td>
      <td>
        <% if @destination.planned_cost and @destination.planned_cost > 0 %>
          <%= f.text_field :planned_cost, :style => "width: 90%;", :value => currency(@destination.planned_cost) %>
        <% else %>
          <%= f.text_field :planned_cost, :style => "width: 90%;"%>
        <% end %>        
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :vehicle, 'Meio de Transporte:' %>
      </td>      
    </tr>
    <tr>
      <td>
        <%= f.select :vehicle_id, 
          @vehicles.map{|vehicle| [vehicle.name, vehicle.id] }, 
          :include_blank => true %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit 'Salvar' %>
      </td>
    </tr>
  </table>
<% end %>
