<ul>
<% @destinations.each_with_index do |destination, index| %>
	<% if index.odd? %>
		<!-- #EEEEE1 -->
		<li style="background: #F7F7E1; padding: 5px;" class="sem_li">
	<% else %>
		<li style="background: #EFFFE2; padding: 5px;" class="sem_li">
	<% end %>
		<h4>
			<%= link_to "#{destination.city.state.symbol}/#{destination.city.name}", 
									roadmap_destination_path(destination.roadmap,destination) %>
		</h4>
		<ul>
		  <li class="sem_li">
	      <strong>Período:</strong>
	      <% if destination.start_date.nil? and destination.end_date.nil? %>
	        <em>Não informado</em>
	      <% else %>
	        <%=h date_format(destination.start_date) %> a <%= date_format(destination.end_date) %> 
	        <em>
	          (<%=h destination.number_of_days %> dias)
	        </em>
        <% end %>
		  </li>
		  
		  <li class="sem_li">
	      <strong>Meio de Transporte:</strong>
	      <% if destination.vehicle %>
	        <%=h destination.vehicle.name %>
	      <% else %>
	        <em>Não informado</em>
	      <% end %>
		  </li>
		  
		  <li class="sem_li">
	      <strong>Custo Planejado:</strong>
	      <%=h currency(destination.planned_cost) %>			      
		  </li>
			
			<%= render :partial => 'destinations/list_program', :locals => {:destination => destination} %>

		</ul>

		<% if logged_in? %>
	    <div align="right">
	      <%= link_to 'Editar', edit_roadmap_destination_path(destination.roadmap, destination) %> | 
		    <%= link_to 'Apagar', roadmap_destination_path(destination.roadmap, destination), 
															:confirm => 'Você tem certeza?', :method => :delete %>
	    </div>
    <% end %>

  </li>
<% end %>
</ul>
