<li class="sem_li">
  <%= image_tag "seta_azul_direita_16.png", :align => "left", 
																			 :id => "#{destination.id}_seta1", 
																			 :style => "display: none;" %>

	<%= image_tag "seta_azul_baixo_16.png", :align => "left", 
																		 :id => "#{destination.id}_seta2" %>
	<span class="program_32" 
				title="Clique aqui para ocultar/apresentar os programas"
				onclick="<%= collapse_box("#{destination.id}_seta1", 
																	"#{destination.id}_seta2", 
																	"#{destination.id}_programas") %>">
		Programas
	</span>
	
	<% if logged_in? and owner?(@roadmap) %>
		<%= link_to "Novo", new_roadmap_destination_program_path(@roadmap, destination), 
								:class => "botao_new_program" %>
	<% end %>
</li>
<li id="<%= "#{destination.id}_programas" %>" class="sem_li">
	<ul>
		<% unless destination.programs.empty? %>
			<%= render :partial => 'programs/list', :locals => {:programs => destination.programs} %>
			<li>
				<strong>Total:</strong> <%= currency(destination.total) %>
			</li>
			<li>
				<strong>Saldo:</strong>
				<% if destination.balance < 0 %>
					<span class="negative">
				<% else %>
					<span class="positive">
				<% end %>
				<%= currency(destination.balance) %>
				</span>
				(<%= currency(destination.planned_cost) %> - <%= currency(destination.total) %>)

			</li>
		<% else %>
			<li class="sem_li_program">
				<i>Nenhum cadastrado.</i>
			</li>
		<% end %>
	</ul>
</li>
