<ul>
<% @destinations.each do |destination| %>
	<li>
		<h4>
			<%= link_to "#{destination.city.state.symbol}/#{destination.city.name}", 
									roadmap_destination_path(destination.roadmap,destination) %>
		</h4>
		<ul>
		  <li class="sem_li">
	      <strong>Período:</strong>
        <%=h date_format(destination.start_date) %> a <%= date_format(destination.end_date) %>
		  </li>
		  
		  <li class="sem_li">
	      <strong>Meio de Transporte:</strong>
	      <%=h destination.vehicle.name %>
		  </li>
		  
		  <li class="sem_li">
	      <strong>Custo Planejado:</strong>
	      <%=h currency(destination.planned_cost) %>			      
		  </li>
			
			<%= render :partial => 'destinations/list_program', :locals => {:destination => destination} %>

		</ul>

		<% if logged_in? %>
	    <div align="right">
	      <%= link_to 'Editar', edit_roadmap_destination_path(destination.roadmap, destination) %> | 
		    <%= link_to 'Apagar', roadmap_destination_path(destination.roadmap, destination), 
															:confirm => 'Você tem certeza?', :method => :delete %>
	    </div>
    <% end %>

  </li>
<% end %>
</ul>
