<ul>
<% @destinations.each_with_index do |destination, index| %>
	<% if index.odd? %>
		<li class="destination_yellow">
	<% else %>
		<li class="destination_green">
	<% end %>
		<h4>
			<%= image_tag "seta_direita_16.png", :align => "left", 
																					 :id => "#{destination.id}_setaD1", 
																					 :style => "display: none;" %>
			<%= image_tag "seta_baixo_16.png", :align => "left", 
																				 :id => "#{destination.id}_setaD2" %>
			&nbsp;
			<span class="clicavel" 
						title="Clique aqui para ocultar/apresentar os destinos"
						onclick="<%= collapse_box("#{destination.id}_setaD1", 
																			"#{destination.id}_setaD2", 
 																		  "#{destination.id}_destinos") %>">

				<%= destination.city.state.symbol %>/<%= destination.city.name %>
			</span>
		</h4>
		<ul id="<%= "#{destination.id}_destinos" %>">
		  <li class="sem_li">
	      <strong>Período:</strong>
	      <% if destination.start_date.nil? and destination.end_date.nil? %>
	        <em>Não informado</em>
	      <% else %>
	        <%=h date_format(destination.start_date) %> a <%= date_format(destination.end_date) %> 
	        <em>
	          (<%=h destination.number_of_days %> 
						<% if destination.number_of_days == 1 %>
							dia)
						<% else %>
							dias)
						<% end %>
	        </em>
        <% end %>
		  </li>
		  
		  <li class="sem_li">
	      <strong>Meio de Transporte:</strong>
	      <% if destination.vehicle %>
	        <%=h destination.vehicle.name %>
	      <% else %>
	        <em>Não informado</em>
	      <% end %>
		  </li>
		  
		  <li class="sem_li">
	      <strong>Custo Planejado:</strong>
	      <%=h currency(destination.planned_cost) %>			      
		  </li>
			
			<%= render :partial => 'destinations/list_program', :locals => {:destination => destination} %>

		</ul>

		<% if logged_in? and owner?(@roadmap) %>
	   	 	<div align="right">
		      <%= link_to 'Editar', edit_roadmap_destination_path(destination.roadmap, destination) %> | 
			  <%= link_to 'Apagar', roadmap_destination_path(destination.roadmap, destination), 
									:confirm => 'Você tem certeza?', :method => :delete %>
		    </div>
    	<% end %>

  </li>
<% end %>
</ul>
