<h1>Editing destination</h1>

<% form_for(@destination) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :planned_cost %><br />
    <%= f.text_field :planned_cost %>
  </p>
  <p>
    <%= f.label :vehicle %><br />
    <%= f.text_field :vehicle %>
  </p>
  <p>
    <%= f.label :road_map %><br />
    <%= f.text_field :road_map %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @destination %> |
<%= link_to 'Back', destinations_path %>