<%= focus("state_id")%>

<h1 class="destination">Destino</h1>

<%= render :partial => 'already_planned' %>

<%= render :partial => 'form'%>

<%= render :partial => 'balance_micro_box' %>
<br/>
<%= link_to 'Voltar', @destination.roadmap %>
