<%= corner('ja_planejados','saldo') %>
<%= focus("state_id")%>

<h1 class="destination">Novo Destino</h1>

<div id="ja_planejados" style="float: right;">
	<div class="box_white" style="width: 330px">
		<div class="search_results">
			<h4>Destinos jรก planejados:</h4>
			<%= render :partial => "simple_list" %>
		</div>
	</div>
</div>

<%= render :partial => 'form'%>

<div id="saldo" style="float: right;">
	<div class="box_white" style="width: 330px">
		<div class="search_results">
			<small>
				<strong>Total de dias:</strong> <%= @roadmap.total_of_days %>
			
				<br/>
		    
		    <strong>Custo Total Planejado:</strong> <%= currency(@roadmap.total_planned_cost) %>
		    
		    <br/>
		    
		    <strong>Custo Total Executado:</strong> <%= currency(@roadmap.total_actual_cost) %>
		    
				<br/>
		
				<strong>Saldo:</strong>
				<% if @roadmap.balance < 0 %>
					<span class="negative">
				<% else %>
					<span class="positive">
				<% end %>
				<%= currency(@roadmap.balance) %>
				</span>
				<%= "(#{currency @roadmap.total_planned_cost} - #{currency @roadmap.total_actual_cost})" %>
			
			</small>
		</div>
	</div>
</div>
<br/>
<%= link_to 'Voltar', roadmap_path(@destination.roadmap) %>
