<%= corner('mais_vistos', 'shops', 'tourist_sights', 'roadmaps') %>

<div id="mais_vistos" class="coluna_vertical">
	<h4 class="mais_vistos_banner">Mais vistos</h4>

	<div class="coluna_vertical_corpo">
		
		<div id="shops">
			<br/>
			<div style="float: right">
				<span class="shop_32"></span>
			</div>
			<span class="box_title">Estabelecimentos</span>
			<br/><br/>
			<div class="box">
				<div class="search_results_root">
					<%= render :partial => "shops/list_root", :locals => {:shops => @most_viewed_shops} %>
					<p align="right" style="margin: 0px 11px 0px 0px;">
						<%= link_to 'ver todos &raquo;', shops_path %>
					</p>
				</div>
			</div>
		</div>

		<br/>

		<div id="tourist_sights">
			<br/>
			<div style="float: right">
				<span class="tourist_sight_32"></span>
			</div>
			<span class="box_title">Pontos Turísticos</span>
			<br/><br/>
			<div class="box">
				<div class="search_results_root">
					<%= render :partial => "tourist_sights/list_root", :locals => {:tourist_sights => @most_viewed_tourist_sights} %>
					<p align="right" style="margin: 0px 11px 0px 0px;">
						<%= link_to 'ver todos &raquo;', tourist_sights_path %>
					</p>
				</div>
			</div>
		</div>
		
		<br/>

	</div>
	
</div>






