<%= corner "tips_list" %>

<div id="tips_list" class="box_white">
  <div class="search_results">
	  <ul>
		  <% if @tips.nil? or @tips.length == 0 %>
			  <li class="sem_li" style="margin: auto;">
				  <i>Nenhuma encontrada.</i>
			  </li>
	    <% else %>

        <% @tips.each_with_index do |tip, index| %>
	        <li class="sem_li_tip">
	          <div class="tip_name">
	            <strong><%=h tip.name %></strong>
	            <em><%= date_format tip.created_at %></em>
              
              <% if owner? tip %>
                <%= link_to "Apagar", 
							    tip_path_generator(tip),
							    tip_hash_destroyer(tip)
					      %>
              <% end %>
	          </div>
	          <div class="tip_description">
              <%=simple_format tip.description %>
	          </div>
	        </li>
        <% end %>
        <li class="sem_li">
          <%= will_paginate @tips %>
        </li>
      <% end %>
    </ul>	
  </div>
</div>
