<% if @tourist_sight.tips and @tourist_sight.tips.length > 0 %>
	<table class="tabela" with=100% cellspacing="2">
		<tr>
		  <th>Nome</th>
		  <th>Descrição</th>
			<% if logged_in? %>
			  <th width=10%>Editar</th>
			  <th width=10%>Apagar</th>  
			<% end %>
		</tr>

	<% @tourist_sight.tips.each_with_index do |tip, index| %>
		<% if index.odd? %>
			<tr class="odd">
			<% else %>
			<tr class="even">
		<% end %>
		  <td><a href="<%=tourist_sight_tip_path(@tourist_sight,tip) %>"><%=h tip.name %></a></td>
		  <td><%=h tip.description %></td>
			<% if logged_in? %>
				<td align="center">
					<%= link_to 'editar', edit_tourist_sight_tip_path(@tourist_sight,tip) %>
				</td>
				<td align="center">
					<%= link_to 'apagar', tourist_sight_tip_path(@tourist_sight,tip), 
											:confirm => 'Tem certeza?', :method => :delete %>
				</td>
			<% end %>
		</tr>
	<% end %>
	</table>
<% else %>
	<br/>
	<em>Nenhuma dica encontrada.</em>
<% end %>

<% if logged_in? %>
	<br /><br />
	<%= link_to 'Nova dica', new_tourist_sight_tip_path(@tourist_sight), :class => "botao_new_tip" %>
	<br /><br />
<% end %>








