<% if @state_id %>
  <%= select_tag :state_id,  "<option value=\"\">-- escolha o estado --</option> 
  #{options_from_collection_for_select(@states, :id, :name, @state_id)}" %>	
<% else %>
  <%= select_tag :state_id,
  "<option value=\"\">-- escolha o estado --</option> 
  #{options_from_collection_for_select(@states, :id, :name, params[:state_id])}" %>
<% end %>
<%= observe_field :state_id, # ID do campo observado
                  # URL que sera chamada
                  :url => {:controller => "cities", :action => "index", :format => "html"}, 
                  :method => :get,
                  :frequency => 0.5, # De quanto em quanto tempo o campo sera observado
                  :update => :city_id, # ID do campo que sera atualizado
                  :with => 'state_id', # valor que sera passado para url
                  :before => "$('#load').show()", # O que fara antes de chamar a URL
                  :complete => "$('#load').hide()" # O que fara depois de chamar a URL
                  %>
<% if @cities 
  # se as cidades ja estiverem populadas exibe o select com elas. Para caso de edicao.
%>
  <%= select_tag :city_id, 
  "<option value=\"\">-- escolha a cidade --</option> 
  #{options_from_collection_for_select(@cities, :id, :name, @city_id)}" %>
<% else %>
  <%= select_tag :city_id, "<option value=\"\">-- escolha a cidade --</option>" %>
<% end %>
<%= image_tag 'load_mini.gif', :id => 'load', :style => "display: none;" %>
<% if controller_name == EventsController.controller_name %>
	<%= mask_fields({:start => "99/99/9999", :end => "99/99/9999"}) %>
	de <%= text_field_tag :start, @start, :size => 10 %> até <%= text_field_tag :end, @end, :size => 10 %>
<% end %>





















