<%= configure_tabs(@selected) %>

<h1 class="search_icon">Resultado da pesquisa</h1>

<% form_tag search_index_path , :method => :get do %>
<table width="100%">
  <tr>
    <td width="5%">Pesquisar:</td>
    <td width="30%"><%= text_field_tag  "value", @value, :size => 50 %></td>
    <td><%= submit_tag 'pesquisar' %></td>
  </tr>
  <tr>
    <td colspan="3">
      <%= corner('advance') %>
      <a href="#" onclick="javascript: $('#advance').toggle('slow');">
        Pesquisa avançada
      </a>
      <br/>
      <% if @advance_search %>
        <div id="advance" class="blue_box">
      <% else %>
        <div id="advance" style="display: none;" class="blue_box">
      <% end %>
        <%= render :partial => "search/filters_form" %>
      </div>
    </td>
  <tr>
</table>
<% end %>

<br/>

<% if @results %>

	<div id="tabs">
		<ul>
			<% if @tourist_sights and @tourist_sights.length > 0%>
				<li><a href="#tourist_sights">Pontos Turísticos</a></li>
			<% else %>
				<li style="display: none;"><a href="#tourist_sights"></a></li>
			<% end %>
			
			<% if @shops and @shops.length > 0%>
				<li><a href="#shops">Estabelecimentos</a></li>
			<% else %>
				<li style="display: none;"><a href="#shops"></a></li>
			<% end %>
			
			<% if @roadmaps and @roadmaps.length > 0%>
				<li><a href="#roadmaps">Roteiros</a></li>
			<% else %>
				<li style="display: none;"><a href="#roadmaps"></a></li>
			<% end %>
			
			<% if @events and @events.length > 0%>
				<li><a href="#events">Eventos</a></li>
      		<% else %>  
				<li style="display: none;"><a href="#events"></a></li>
			<% end %>
		</ul>

		<!-- tourist_sight -->
    	<%= render :partial => "tourist_sights" %>

		<!-- shop -->
    	<%= render :partial => "shops" %>

		<!-- roadmap -->
    	<%= render :partial => "roadmaps" %>
		
		<!-- event -->
    	<%= render :partial => "events" %>

	</div>

<% else %>

	<i>Nenhum resultado encontrado.</i>	

<% end %>

