<script type="text/javascript">
	$(document).ready (function() {
		$("#tabs").tabs();
	});
</script>
<h1 class="search_icon">Resultado da pesquisa</h1>

<% if @results %>

	<div id="tabs">
		<ul>
			<% if @tourist_sights and @tourist_sights.length > 0%>
			<li><a href="#tourist_sights">Pontos Turísticos</a></li>
			<% end %>
			<% if @shops and @shops.length > 0%>
			<li><a href="#shops">Estabelecimentos</a></li>
			<% end %>
		</ul>

		<!-- tourist_sight -->
		<% if @tourist_sights and @tourist_sights.length > 0 %>
    <div id="tourist_sights" class="search_results">
			<ul>
				<% @tourist_sights.each do |tourist_sight| %>
					<li>
						<h4>
								<%= link_to tourist_sight.name, tourist_sight %>&nbsp;
								(<%=h tourist_sight.city.state.symbol %>/<%=h tourist_sight.city.name %>)
						</h4>
						<p style="text-align: justify;">
							<small>
								<%= tourist_sight.description %>
							</small>
						</p>
					</li>
				<% end %>
				<li class="sem_li"><%= will_paginate @tourist_sights %></li>
			</ul>
		</div>
		<% end %>

		<!-- shop -->
		<% if @shops and @shops.length > 0%>
    <div id="shops" class="search_results">
			<ul>
				<% @shops.each do |shop| %>
					<li>
						<h4>
							<%= link_to shop.name, shop %>&nbsp;
							(<%=h shop.city.state.symbol %>/<%=h shop.city.name %>)
						</h4>
						<p style="text-align: justify;">
							<small><%= shop.description %></small>
						</p>
						<% if shop.key_words and shop.key_words.length > 0 %>
							<p>
								<small>Palavras-chave:&nbsp;<strong><%= shop.key_words %></strong></small>
							</p>
						<% end %>
					</li>
				<% end %>
				<li class="sem_li"><%= will_paginate @shops %></li>
			</ul>
		</div>
		<% end %>

	</div>

<% else %>

	<i>Nenhum resultado encontrado.</i>	

<% end %>

