<%= configure_asmselect(:tag_id) %>

<h1 class="tourist_sight"><%=h @tourist_sight.name %></h1>

<h3>Utilize o box abaixo para adicionar as tags necessárias:</h3>
* Para ordenar a lista de tags apenas arraste e solte no lugar correto.
<br /><br />

<% form_tag :controller => "tourist_sight_tags", :action => "create" do %>

	<% if @tourist_sight.tags and @tourist_sight.tags.length > 0 %>
		<%= select :tag, :id, @tags.map{|tag| [tag.name, tag.id] },
							 {:selected => @tourist_sight.tags.map{|tag| tag.id }},
							 {:multiple => true}%>
	<% else %>
		<%= select :tag, :id, @tags.map{|tag| [tag.name, tag.id] }, {}, {:multiple => true} %>
	<% end %>

	<%= hidden_field_tag 'tourist_sight_id', @tourist_sight.id %>
	<%= submit_tag "Salvar" %>
<% end %>

<br />

<%= link_to 'Voltar', @tourist_sight %>
