<div class="navigation">
	<a href="index.html">Página Inicial</a>

	<% if logged_in? %>
		<%= link_to "Meus Roteiros", roadmaps_path, 
				:class => check_tab?(['roadmaps', 'destinations', 'programs']) %>
	<% end %>

	<%= link_to "Pontos Turísticos", tourist_sights_path, 
			:class => check_tab?(['tourist_sights', 'tourist_sight_tags', 'tips']) %>

	<%= link_to "Estabelecimentos", shops_path, :class => check_tab?('shops') %>

	<%= link_to "Eventos", events_path, :class => check_tab?('events') %>

  <% if not logged_in? %>
    <%= link_to "Fazer login", login_path, :class => check_tab?('sessions') %>
  <% end %>

	<%= render :partial => "layouts/search" %>
</div>
