<% form_tag :controller => "users", :action => "update_password" do %>
  <%= hidden_field_tag 'user_id', @user.id %>
  <table class="form">
    <tr>
      <td>
        <label>Senha atual:</label>
      </td>
    </tr>
    <tr>
      <td>
       <%= password_field_tag 'current_password' %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Nova senha:</label>
      </td>
      <td>
        <label for="password_confirmation">Confirmação da nova senha:</label>
      </td>
    </tr>
    <tr>
      <td>
        <%= password_field_tag 'user_password' %>
      </td>
      <td>
        <%= password_field_tag 'user_password_confirmation' %>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <%= submit_tag 'Alterar senha' %>
      </td>
    </tr>
  </table>
<% end %>


