<h1>Pontos Turísticos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Descrição</th>
  </tr>

<% @tourist_sights.each do |tourist_sight| %>
  <tr>
    <td><%=h tourist_sight.name %></td>
    <td><%=h tourist_sight.address %></td>
    <td><%=h tourist_sight.description %></td>
    <td><%= link_to 'detalhar', tourist_sight %></td>
    <td><%= link_to 'editar', edit_tourist_sight_path(tourist_sight) %></td>
    <td><%= link_to 'apagar', tourist_sight, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Ponto Turístico', new_tourist_sight_path %>
