<% if logged_in? %>
	<div style="float: right;" title="Adicionar/Remover TAG">
		<%= link_to (image_tag 'tag_add_remove_48.png', :border => 0), 
				new_tourist_sight_tourist_sight_tag_path(@tourist_sight) %>
	</div>
<% end %>

<h1 class="tourist_sight">Ponto Turístico</h1>

<%= render :partial => 'info' %>

<% if @tourist_sight.tags and @tourist_sight.tags.length > 0 %>
	<div class="tag">
		<% @tourist_sight.tags.each_with_index do |tag, index| %>
			<%= link_to tag.name, tourist_sight_tourist_sight_tags_path(@tourist_sight, :tag_id => tag.id) %>
			<% if index < (@tourist_sight.tags.length - 1) %>,<% end %>
		<% end %>
	</div>
<% end %>

<%= image_tag "taxinha_amarela_32.png", :class => "icone_barra_dica"%>
<div class="barra" onclick="<%= collapse_box('seta1', 'seta2', 'dicas') %>">
	<%= image_tag "seta_direita_16.png", :align => "right", :id => "seta1" %>
	<%= image_tag "seta_baixo_16.png", :align => "right", :style => "display: none;", :id => "seta2" %>
	Dicas
</div>

<div id="dicas" style="border: 1px solid #C1CDCD; display: none; border-top: 0px;" align="center">
	<%= render "tips/list" %>
</div>

<br /><br />

<% if logged_in? %>
	<%= link_to 'Editar', edit_tourist_sight_path(@tourist_sight) %> |
<% end %>

<%= link_to 'Voltar', tourist_sights_path %>
