<% if logged_in? %>
	<div style="float: right;" title="Adicionar/Remover TAG">
		<%= link_to (image_tag 'tag_add_remove_48.png', :border => 0), 
				new_tourist_sight_tourist_sight_tag_path(@tourist_sight) %>
	</div>
<% end %>

<h1 class="tourist_sight">Ponto Turístico</h1>

<%= render :partial => 'info' %>

<% if @tourist_sight.tags and @tourist_sight.tags.length > 0 %>
	<div class="tag">
		<% @tourist_sight.tags.each_with_index do |tag, index| %>
			<%= link_to tag.name, tourist_sight_tourist_sight_tags_path(@tourist_sight, :tag_id => tag.id) %>
			<% if index < (@tourist_sight.tags.length - 1) %>,<% end %>
		<% end %>
	</div>
<% end %>

<br/>
<h2 class="tips_32">
  Dicas &nbsp;
  <% if logged_in? %>
	  <%= link_to 'Nova dica', new_tourist_sight_tourist_sight_tip_path(@tourist_sight), :class => "botao_new_tip" %>
  <% end %>
</h2>

<%= render "tips_list" %>

<br /><br />

<% if logged_in? %>
	<%= link_to 'Editar', edit_tourist_sight_path(@tourist_sight) %> |
<% end %>

<%= link_to 'Voltar', tourist_sights_path %>
