<%= f.error_messages %>

<script type="text/javascript">
	function show(id, array){
		for(var x = 0; x<array.length; x=x+1){
			$('#'+array[x]).hide();
		}
		$('#'+id).show(200);
	}
</script>

<table class="form" width="46%" border="0" style="float: left;">
	<tr>
		<td>
		  <span class="obrigatorio">*</span>
		  <%= f.label :date, 'Data:' %>
	  </td>
		<td><%= f.label :value, 'Valor:' %></td>
	</tr>
	<tr>
		<td>
			<% if @program.date %>
				<%= f.text_field :date, :value => date_format(@program.date), :size => 10 %>
			<% else %>
				<%= f.text_field :date, :size => 10 %>
			<% end %>
		</td>
		<td>
			<% if @program.value %>
				<%= f.text_field :value, :value => sprintf("%.2f", @program.value) %>
			<% else %>
				<%= f.text_field :value %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>Acontece em?</td>
		<td>
			<% Program.happens_in_options.keys.each do |option| %>
				<%= f.radio_button "happens_in", option, 
						:checked => @program.happens_in == option,
						:onclick => "javascript: show('#{option}', 
												#{ruby_hash_to_javascript_array(Program.happens_in_options)});" 
				%>
				<%= label_tag Program.happens_in_options[option] %><br/>
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<% if @program.tourist_sight %>
			<div id="tourist_sight">
			<% else %>
			<div id="tourist_sight" style="display: none;">
			<% end %>
				<% if @tourist_sights and @tourist_sights.length > 0 %>
					<%= collection_select(:program, :tourist_sight_id, 
																@tourist_sights, :id, :name, 
																options ={:prompt => "-- Escolha um ponto turístico --"}) %>
				<% else %>
					<i>Nenhum ponto turístico encontrado.</i>
				<% end %>
			</div>
			
			<% if @program.shop %>
			<div id="shop">
			<% else %>
			<div id="shop" style="display: none;">
			<% end %>
				<% if @shops and @shops.length > 0 %>
					<%= collection_select(:program, :shop_id, 
																@shops, :id, :name, 
																options ={:prompt => "-- Escolha um estabelecimento --"}) %>
				<% else %>
					<i>Nenhum estabelecimento encontrado.</i>
				<% end %>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2"><%= f.label :description, 'Descrição:' %></td>
	</tr>
	<tr>
		<td colspan="2">
			<%= f.text_area :description, {:rows => 5, :class => "expanding",
			:style => "width: 100%; min-height: 100px; max-height: 500px;"} %>
		</td>
	</tr>
	<tr align="right">
		<td colspan="2"><%= f.submit 'Salvar' %></td>
	</tr>
</table>
