<%= configure_textarea_autogrow %>
<%= mask_fields(:program_date => "99/99/9999") %>
<%= price_format(['program_value']) %>

<table width="100%" class="tabela_info" cellspacing="5">
	<tr>
		<td align="right" width="5%">
			<strong>Roteiro:</strong>
		</td>
		<td align="left">
			<%= @roadmap.title %>
		</td>
	</tr>
	<tr>
		<td align="right">
			<strong>Destino:</strong>
		<td>
		<td align="left">
			<%= @destination.city.state.symbol %>/<%= @destination.city.name %>
		</td>
	</tr>
	<tr>
		<td align="right">
			<strong>Período:</strong>
		<td>
		<td align="left">
			<%= date_format(@destination.start_date) %> a <%= date_format(@destination.end_date) %>
		</td>
	</tr>
</table>

<br/>

<% form_for([:roadmap, :destination, @program]) do |f| %>

  <%= f.error_messages %>

	<table class="form">
		<tr>
			<td><%= f.label :date, 'Data:' %></td>
			<td><%= f.label :value, 'Valor:' %></td>
		</tr>
		<tr>
			<td>
				<% if @program.date %>
					<%= f.text_field :date, :value => date_format(@program.date), :size => 10 %>
				<% else %>
					<%= f.text_field :date, :size => 10 %>
				<% end %>
			</td>
			<td>
				<% if @program.value %>
					<%= f.text_field :value, :value => sprintf("%.2f", @program.value) %>
				<% else %>
					<%= f.text_field :value %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="2"><%= f.label :description, 'Descrição:' %></td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.text_area :description, {:rows => 5, :class => "expanding",
				:style => "width: 100%; min-height: 100px; max-height: 500px;"} %>
			</td>
		</tr>
		<tr align="right">
			<td colspan="2"><%= f.submit 'Salvar' %></td>
		</tr>
	</table>
<% end %>
