<% programs.each do |program| %>
	<li class="sem_li_program">
		<div>
			<div style="float: left;">
				<strong><%= date_format(program.date) %></strong>&nbsp;
				<strong><%= currency(program.value) %></strong>&nbsp;
			</div>
			<% if logged_in?%>
				<div style="float: right;">
					<%= link_to (image_tag 'edit_16.png', :border => 0), 
							edit_roadmap_destination_program_path(
								program.destination.roadmap.id, program.destination.id, program.id
							), :title => "Editar" 
					%>
					&nbsp;
					<%= link_to (image_tag 'delete_16.png', :border => 0), 
							roadmap_destination_program_path(
								program.destination.roadmap.id, program.destination.id, program.id
							), 
							:action=>"destroy", :controller=>"programs",
							:confirm => 'Você tem certeza?', :method => :delete,
							:title => "Apagar"
					%>
				</div>
			<% end %>
			<div class="identado">
				<% if program.tourist_sight %>
					<small>Acontece em: <%= program.tourist_sight.name %></small><br/>
					<small>Endereço: <%= program.tourist_sight.address %></small><br/>
				<% elsif program.shop %>
					<small>Acontece em: <%= program.shop.name %></small><br/>
					<small>Endereço: <%= program.shop.address %></small><br/>
				<% end %>
				<small><%=h program.description %></small>
			</div>
		<div>
	</li>
<% end %>
