<% programs.each do |program| %>
	<li class="sem_li_program">
		<div>
			<div style="float: left;">
				<strong><%= date_format(program.date) %></strong>&nbsp;
				<strong><%= currency(program.value) %></strong>&nbsp;
			</div>
			<% if logged_in? %>
				<div style="float: right;">
					<%= link_to (image_tag 'edit_16.png', :border => 0), 
							edit_roadmap_destination_program_path(
								program.destination.roadmap.id, program.destination.id, program.id
							) 
					%>
					&nbsp;
					<%= link_to (image_tag 'delete_16.png', :border => 0), 
							roadmap_destination_program_path(
								program.destination.roadmap.id, program.destination.id, program.id
							), 
							:action=>"destroy", :controller=>"programs",
							:confirm => 'Você tem certeza?', :method => :delete 
					%>
				</div>
			<% end %>
			<div class="clearer" style="text-align: justify; margin: 2px 15px;">
				<small><%=h program.description %></small>
			</div>
		<div>
	</li>
<% end %>
