<h1 class="program">Programas</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Value</th>
    <th>Description</th>
    <th>Tourist sight</th>
    <th>Shop</th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%=h program.date %></td>
    <td><%=h program.value %></td>
    <td><%=h program.description %></td>
    <td><%=h program.tourist_sight %></td>
    <td><%=h program.shop %></td>
    <td><%= link_to 'Show', program %></td>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <td><%= link_to 'Destroy', program, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New program', new_program_path %>
