<% @events.each do |event| %>
	<li>            
		<h4>
			<%= link_to event.name, event %>&nbsp;
			(<%=h event.city.state.symbol %>/<%=h event.city.name %>)   
			<% if date_format(event.time) == date_format(Date.today) %>
				<span class="hoje">hoje</span> 
			<% end %>
		</h4>
		<p></p>
		<table>
			<tr>
				<td style="padding-right: 8px;">    
					 <span class="cal" title="<%= l event.time, :format => :long %>">
					 	<div class="month"><%= date_format_month(event.time) %></div>
					 	<div class="day"><%= date_format_day(event.time) %></div>						      
					 </span>
				</td>
				<td style="text-align: justify;">
					<small>
						<%= truncate (h event.description), :length => 370 %>
					</small>
					<br/>
					<% if event.cost > 0 %>
					    <%=h currency(event.cost) %>
					<% else %>
					    Gratuito.
					<% end %>
			   	</td>
			</tr>
		</table>  
		
	</li>
<% end %>
