<h1 class="event">Evento</h1>

<%= render :partial => "info" %>

<% if logged_in? %>
	<%= link_to 'Editar', edit_event_path(@event) %> |
	<%= link_to 'Apagar', @program, :confirm => 'Você tem certeza?', :method => :delete %>
<% end %>
<br><br/>
<h2 class="tips_32">
  Dicas &nbsp;
  <% if logged_in? %>
	  <%= link_to 'Nova dica', new_event_event_tip_path(@event), :class => "botao" %>
  <% end %>
</h2>
<div style="width: 670px;">
  <%= render :partial => 'tips/list' %>
</div>

<div class="clearer"></div>
<br/>
<%= link_to 'Voltar', events_path %>
