<div class="box_white">
	<div class="search_results">
		<table>
			<tr>
				<td colspan="2" align="center">
					<strong>Média do estabelecimento</strong>
				</td>
			</tr>
			<tr>
				<td align="right">Geral:</td>
				<td><%= rating("avg_general_#{@shop.id}", 5, true, @shop.evaluation_average.general) %></td>
			</tr>
			<tr>
				<td align="right">Serviço:</td>
				<td><%= rating("avg_service_#{@shop.id}", 5, true, @shop.evaluation_average.service) %></td>
			</tr>
			<tr>
				<td align="right">Limpeza:</td>
				<td><%= rating("avg_clean_#{@shop.id}", 5, true, @shop.evaluation_average.clean) %></td>
			</tr>
			<tr>
				<td align="right">Localização:</td>
				<td><%= rating("avg_location_#{@shop.id}", 5, true, @shop.evaluation_average.location) %></td>
			</tr>
			<tr>
				<td align="right">Qualidade/Preço:</td>
				<td><%= rating("avg_price_#{@shop.id}", 5, true, @shop.evaluation_average.price) %></td>
			</tr>
			<tr>
				<td align="right">Infraestrutura:</td>
				<td><%= rating("avg_infrastructure_#{@shop.id}", 5, true, @shop.evaluation_average.infrastructure) %></td>
			</tr>
			<tr>
				<td align="right">Atendimento:</td>
				<td><%= rating("avg_attendance_#{@shop.id}", 5, true, @shop.evaluation_average.attendance) %></td>
			</tr>
		</table>
	</div>
</div>
