<% @shops.each do |shop| %>
	<li>
		<h4>
			<%= link_to shop.name, shop %>&nbsp;
			(<%=h shop.city.state.symbol %>/<%=h shop.city.name %>)
		</h4>
		<p style="text-align: justify;">
			<br/>
			<small><%= truncate (h shop.description), :length => 370 %></small>
		</p>
		<% if shop.key_words and shop.key_words.length > 0 %>
			<p>
				<small>Palavras-chave:&nbsp;<strong><%=h shop.key_words %></strong></small>
			</p>
		<% end %>
	</li>
<% end %>
