<h1>Estabelecimentos</h1>

<br/>

<table width="100%">

<% @shops.each do |shop| %>
  <tr>
    <td><%=h shop.name %></td>
    <td>
			<span title="<%= h shop.city.state.name %>">
				<%=h shop.city.state.symbol %> 
			</span>
			/ 
			<%=h shop.city.name %>
		</td>
    <td><%= link_to 'Show', shop %></td>
    <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
    <td><%= link_to 'Destroy', shop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar um novo', new_shop_path %>
