<h1 class="shop">Estabelecimento</h1>
<br/>

<%= render :partial => 'info' %>

<br/>

<h2 class="evaluation_32">
	Avaliação de outros usuários
	<%= link_to 'Avaliar', new_shop_shop_evaluation_path(@shop), 
							:class => 'botao' %>
</h2>

<%= render :partial => 'list_evaluations' %>

<br/>
<br/>

<% if logged_in? %>
	<%= link_to 'Editar', edit_shop_path(@shop) %> |
<% end %>

<%= link_to 'Voltar', shops_path %>
